:root{
  --font-roboto: "Roboto", sans-serif;
  --c-primary: #fcd535;
  --c-second-primary : #57C478;
  --c-dark: #181a20;
  
}
body{
  text-decoration: none;
  background-color: var(--c-dark);
  color: #fff;
}

.form-group .btn-register{
  background-color: var(--c-primary);
 
}
.custom-btn-text {
  color: white !important; /* Sử dụng !important để đảm bảo không bị ghi đè */
}



.section-second{
  background-color: var( --c-primary);
  height: 100%;
}
.tex{
  color: #000000;
}
.header-register{
  padding: 22px 102px;
}
.header-register img{
  width: 60px;
  height: 40px;
}
.custom-margin-logo {
  margin-top: -30px;
  margin-bottom: -25px; /* Điều chỉnh giá trị này theo nhu cầu */
}
.section-second-top{
  height: 50vh;
}
.section-second-bottom{
  height: 50vh;
}